.container1 {
  margin: auto;
  padding: 20px;
}

.section section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container1 h1 {
  font-size: 70px;
  font-weight: 600;
  color: black;
  background-clip: text;
  -webkit-background-clip: text;
  text-align: center;
  padding: 30px;
}

.card p {
  font-size: 20px;
  color: #ffffff;
}

.card h2 {
  font-size: 30px;
  font-family: Calibri, "Helvetica", san-serif;
}

.card h2:after {
  content: " ";
  display: block;
  border: 2px solid white;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  flex: 0 0 calc(333.33% - 20px);
  max-width: calc(33.33% - 20px);
  font-family: Calibri, "Helvetica", san-serif;
  width: 100%;
  background-color: #000;
  border-radius: 1rem;
  padding: 5px;
  margin-bottom: 20px;
  transition: 0.3s;
  border: 2px solid transparent;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(#000, 0.8);
  transform-origin: center top;
  transform-style: preserve-3d;
  transform: translateZ(0);
  transition: 0.3s;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2);
  inset: -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
  color: white;
}

.card:hover {
  border: solid white;
  transform: scale(1.02);
}

@media (max-width: 969px) {
  .section section {
    padding: 20px 0px;
  }

  .container1 h1 {
    font-size: 30px;
    line-height: 40px;
  }

  .card {
    flex: 0 0 calc(50% - 20px);
    max-width: calc(50% - 20px);
  }
}

@media (max-width: 600px) {
  .card {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
