.manager-wrap{
    display: flex ;
    gap: 3rem
}

.manager-child{
    width:50%
}

@media (max-width: 850px){

    .manager-wrap{
        display: block ;
        gap: 3rem
    }

    .manager-child{
        width:100%
    }

}