
:root{
    --card-padding:1rem

}

.dialog-close .MuiSvgIcon-root{
    position: absolute;
    top:8px;
    right:var(--card-padding)
}

.dialog-wrap{
    padding:var(--card-padding)
}

.dialog-title-wrap{
display: flex;
align-items: center;
justify-content: space-between;
}

